 .sortable{
        list-style: none;
    }

    .sortable li{
        padding:1em;
        margin:10px;
    }

    .ui-state-default{
        padding: 0em;
        height:auto; 
    }
    
   .table_green td{
        vertical-align: top;
    }
    
    .text_center{
        text-align: center;
    }

    
    
 .btn_green_small{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin:0.2em;
  transition-duration: 0.4s;
  cursor: pointer;
  float: left;
}