.polygon{
    position: absolute;
    width:30%;height:30%;margin-left:auto;margin-right:auto;
}


/*#polygon1::after{
             content: "ครู";
             position:absolute;
             background-color: bisque;
             font-size:25pt;
           
             color: black;     
            }*/

/*   .bottomleft_1::before{
             content: "ครู";
             position: absolute;
            background-color: bisque;
            
             font-size:25pt;
           
             color: black;     
            }
            
            
    .bottomright_1::after{
             content: "ครู";
             position: absolute;
            background-color: bisque;
            
             font-size:25pt;
           
             color: black;     
            }   
            
            
     .topright_cover_1::after{
            content: "ครู";          
            background-color: bisque;            
             font-size:25pt;
             color: black;     
            } 
            
       .topleft_1::after{
             content: "ครู";
      
            background-color: bisque;
            
             font-size:25pt;
           
             color: black;     
            }         
            
            
        .top_1::after{
             content: "ครู";
             position:relative;
            background-color: bisque;
            margin:0 auto;
             font-size:25pt;
           
             color: black;     
            }               */